/*Google text*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/*basic css reset*/
*{
  padding :0;
  margin: 0;
  box-sizing:border-box ;
}
html{
  scroll-behavior :smooth ;
}
body{
  font-family: 'Crimson Text', serif;
  background :#313134;
  color:#c4c4c4;
  font-size :16px ;
}

/*header*/
header{
  display :grid ;
  grid-template-columns :1fr 5fr;
  justify-content :start ;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: #70C330;
  background :#333;
  position:sticky ;
  width :100%;
}
h1.header-logo{
  font-size: 0.875rem;
}
div.header-menu{
  display :flex ;
  flex-direction :row ;
  font-size: 0.625rem;
  justify-content :space-evenly ;
}
a.header-menu_item{
  text-decoration: none ;
  color:inherit ;
}
a.header-menu_item:hover,
a.header-menu_item:active{
  color :#9AAAEE;
} 

/*collective */
section.collective{
  margin :3rem 0;
  background :linear-gradient(rgba(49,49,52,0.7), rgba(49,49,52,0.7)), url(../images/Something.jpg);
  background-size: cover ;
  background-position: center ;
  background-repeat: no-repeat ;
}
p.collective-header{
  
}

/*footer */
footer.footer{
  border-top: 1px solid #555;
  padding-bottom : 0.5rem ;
}
p.footer-header{
  display :block ;
  width :40%;
  margin :0 auto 2rem auto ;
  background :#222;
  height :3rem ;
  text-align :center ;
  padding-top :0.75rem ;
  text-transform :uppercase ;
}
div.footer-flex{
  display :flex ;
  flex-direction :row ;
  justify-content :space-evenly ;
  align-items :center ;
}
div.footer-social a {
  display :inline-block ;
  width: 2rem ;
  height: 2rem ;
  border-radius  :50%;
  background: #313134;
  color:#c4c4c4 ;
  text-align :center ;
  padding-top: 0.4rem ;
  box-shadow : -5px -5px 3px #222;
}
p.footer-copyright{
  color: #555;
  font-size :0.875rem ;
} 