@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

:root {
  --background: #21325e;
  --secondary: #3e497a;
  --yellow: #f1d00a;
  --white: #f0f0f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  padding: 3rem 2.5rem;
}
a,
a:visited {
  color: var(--white);
  text-decoration: none;
}
/* utility classes */
.bg-secondary {
  background: var(--secondary);
}
.d-block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.mb {
  margin-bottom: 2.5rem;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-lower {
  text-transform: lowercase;
}
.text-upper {
  text-transform: uppercase;
}
.text-yellow {
  color: var(--yellow) !important;
}
.text-white {
  color: var(--white);
}