@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #21325e;
  --secondary: #3e497a;
  --yellow: #f1d00a;
  --white: #f0f0f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  padding: 3rem 5rem;
}
a,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

/* Navbar */
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  width: 100%;
}
nav > a > img {
  border-radius: 1%;
  height: 5rem;
  width: 5rem;
}
nav > a + div {
  display: flex;
  justify-self: flex-end;
}
nav > a + div > div {
  background: var(--secondary);
  height: 2rem;
  margin-right: 1.5rem;
  padding: 0.25rem 0.5rem;
}
i.fa-search {
  color: var(--white);
}
#search {
  background: transparent;
  border: 0;
  padding-left: 0.5rem;
}
#search::placeholder {
  color: var(--white);
}
#search:focus {
  color: var(--white);
  outline: none;
}
nav > div > p{
  color: var(--yellow);
  font-weight: 600;
}
