/*font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap'); 
:root{
  --primary:#1e73eb;
}

*{
  padding: 0;
  margin :0 ;
  box-sizing :border-box ;
}
html,
body{
  width :90rem;
  font-family: 'Lato', sans-serif ;
} 

/*header */
header.header{
  display :flex ;
  flex-direction:row ; 
  justify-content :space-between ;
  background :var(--primary);
  color:#fff;
  height:3.2rem ;
  padding:0 10rem ;
  
}
p.header-left_byb{
  font-size :1.5rem;
  height :60%;
  display :inline-block ;
  margin-top :0.5rem;
  font-weight:bold;
  border-right :1.40597px solid #fff;
  padding-right:2rem ;
  margin-right:2rem;
}
p.header-left_with{
  display :inline ;
  font-weight :normal ;
  font-size :1.5rem ;
}
div.header-right{
  display :inline ;
}
div.gear{
  height:100%;
  background :#78abf1;
  padding: 0.4rem 0.5rem;
  display :inline-block ;
  margin-right: 1rem ;
}

/*main section */
main.main{
  display :grid;
  grid-template-columns :1fr 5fr;
  justify-content: center;
  background :#e5e5e5;
  padding-top :10rem;
  padding-bottom: 6rem ;
}
section.trainers{
  padding:0rem 3rem  0 10rem;
}
section.trainers p{
  font-size :1rem ;
  padding-top :0.8rem;
  padding-left: 0.75rem ;
}
p.trainers1, 
p.trainers2{
  width :15rem;
  height:3.2rem ;
}
p.trainers1{
  color: #fff;
  background :var(--primary);
}
p.trainers2{
  color :#000;
  border-top :1px solid #444 ;
}

/*schedule*/
section.schedule{
  margin-right: 14rem ;
}
p.schedule-header{
  font-size :28px;
  font-weight :bold;
  margin-bottom: 2rem ;
  padding-left: 2rem ;
}
/*schedule list */
article.schedule-form{
  background: #fff ;
  padding: 2rem ;
  margin-bottom :2rem ;
  border-radius :0.25rem ;
}
p.schedule-instruction{
  font-size :18px ;
  word-spacing: 0.03em;
  line-height :28px;
  color :#4c4c4c;
  text-align :center ;
  margin-bottom :2rem ;
}
input#name,
select,
input#time{
  background :#f2f2f2;
  border-radius :5.6249px;
  outline :none ;
  border :0;
  padding-left: 1.5rem ;
  margin-bottom :2rem ;
  margin-right: 1rem ;
}
input#name,
select{
  width :294.54px;
  height: 69.82px;
}
input#time{
  width :616px;
  height :70px;
}
input::placeholder,
select,
input#time{
  color:#4c4c4c;
  opacity :0.6;
  letter-spacing: 0.03em;
  font-size :16px ;
  line-height :21px;
}
a.schedule-submit{
  text-decoration :none ;
  color :#fff;
  display :block ;
  height: 3.5rem;
  width :616px;
  background :var(--primary);
  font-weight :bold ;
  font-size :24px ;
  
  border-radius :0.3rem ;
  text-align :center ;
  padding-top: 0.87rem;
}

/*footet*/
footer.footer{
  background: var(--primary);
  display :flex ;
  flex-direction :row ;
  justify-content: space-around ;
  align-items: center ;
  height: 3.2rem ;
}
p.footer-left{
  font-size :16px;
  color :#fff ;
  word-spacing: 0.03rem;
  line-height :25px;
}